*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:rgb(68, 68, 68);
    transition: 0.4s;
}

a:hover {
    color: #37a1f7;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
}

.post-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 1rem;
}

.autor {
    color: rgb(68, 68, 68);
    margin-bottom: 1rem;
    font-weight: bold;
}

.sidebar{
    flex: 1 1 0;
}

.busca,
.category,
.tags {
    border: 1px solid #ccc;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.busca h4,
.category h4 ,
.tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

.busca form {
    display: flex;
    
}

.busca input {
   padding: .5rem 1rem;
   border: 1px solid #ddd;
}

.busca .btn-input {
    color: #fff;
    background-color: #37a1f7;
    padding: .5rem 1rem;
    cursor: pointer;
    border:none;
}

.category li {
    margin-bottom: 1rem;
}

.tags-container  {
   display: flex;
   flex-wrap: wrap;
   gap: .5rem;
}
.tags-container a {
    border-radius: 0.3rem;
    background-color: rgb(221, 221, 221);
    padding: .5rem .7rem;
    
}

footer {
    border-top: 2px solid #ddd;
    padding: 3rem 2.5rem;
    text-align: center;
}

footer h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer p {
    margin-bottom: 1rem;
}

@media (max-width:450px) {
    .nav-bar {
        width: 100%;
    }

    .nav-list {
        font-size: 1.3rem;
    }
    .container {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }


    .description {
        font-size: 1.2rem;
    }
   

    .autor {
        font-size: 1.2rem;
    }

    .post a {
        font-size: 1.2rem;
    }

    .busca input {
       font-size: 1.1rem;
    }

    .category a {
        font-size: 1.3rem;
    }

    .tags-container a {
        font-size: 1.3rem;
    }

    footer {
        width: 100%;
    }

    footer p {
        font-size: 1.2rem;
    }
}
